.infos{
    background: $primary;
    color: $white;
    text-transform: uppercase;
    height: 4.5rem;
    display: flex;
    align-content: center;
    
    a{
        text-decoration: none;
        background: $black;
        color: $white;
        padding: 10px;
    }
    .espace{
        padding: 1.5rem 0.5rem;
    }
}