.infos{
    background: $primary;
    color: $white;
    height: 4.5rem;
    display: flex;
    align-content: center;
    button{
        background: $black;
        border: $black 1px solid;
        color: $white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }

}