.modal1{
    .bouton{
        color: $white;
        background: $primary;
        text-transform: uppercase;
        padding:5px;
        border-radius: 5px;
        border: $primary 2px solid;
        font-weight: 600;
    }
    .bouton1{
        color: $black;
        background: $white;
        border-radius: 5px;
        border: $white 2px solid;
        font-weight: 500;
    }


}