@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$black: #000000;
$primary: #fc4340;
$secondary: #4c5155;
$terciary: #f2f0f1;
$white: #FFFFFF;

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    p{
        text-align: center;
    }
    
}


@import 'navigation';
@import 'caroussel';
@import 'infos';
@import 'movie';
@import 'shop';
@import 'contact';
@import 'reseau';
@import 'tendance';
@import 'footer';
@import 'modal';