@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

body p {
  text-align: center;
}

header {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header p {
  font-size: 3rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
}

header span {
  color: #fc4340;
}

header a {
  padding-right: 50px;
}

header .nav-link1 {
  padding: 10px;
  font-weight: 600;
}

header ul li {
  padding-right: 2rem;
  padding-bottom: 3rem;
}

header a.nav-link1:link, header a.nav-link1:visited {
  color: #4c5155;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

header a.nav-link1:hover {
  color: #FFFFFF;
  background-color: #fc4340;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

header .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  float: left;
}

header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header nav {
  width: 100%;
}

header .active1 a.nav-link1 {
  color: #fc4340;
}

header .active1 a.nav-link1:hover {
  color: #FFFFFF;
}

header .formu {
  margin: auto;
}

.caroussel {
  margin-top: -10rem;
  position: relative;
}

.infos {
  background: #fc4340;
  color: #FFFFFF;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.infos button {
  background: #000000;
  border: #000000 1px solid;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.movie {
  background: #FFFFFF;
  padding-top: 5rem;
  text-align: center;
}

.movie h2 {
  text-transform: uppercase;
  padding: 5px;
  border-left: solid 5px #fc4340;
  font-size: 1.5rem;
  text-align: left;
}

.movie ul li {
  float: left;
  list-style: none;
  margin: 3px;
}

.movie ul li a:link, .movie ul li a:visited {
  border: none;
  background: #f2f0f1;
  text-align: center;
  padding: 1rem;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}

.movie ul li a:hover {
  border: none;
  background: #fc4340;
  -webkit-transition: 1s;
  transition: 1s;
  color: #FFFFFF;
}

.movie a:link, .movie a:visited, .movie a:hover {
  color: #FFFFFF;
  background: #fc4340;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: #fc4340 2px solid;
  font-weight: 600;
  text-decoration: none;
}

.shop {
  padding-top: 5rem;
  background: #FFFFFF;
}

.shop h2 {
  text-transform: uppercase;
  padding: 5px;
  border-left: solid 5px #fc4340;
  font-size: 1.5rem;
}

.contact {
  padding-top: 5rem;
  background: #FFFFFF;
}

.contact h2 {
  text-transform: uppercase;
  padding: 5px;
  border-left: solid 5px #fc4340;
  font-size: 1.5rem;
}

.contact button {
  color: #FFFFFF;
  background: #fc4340;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: #fc4340 2px solid;
  font-weight: 600;
}

.reseau {
  list-style: none;
}

.reseau .twitter a:link, .reseau .twitter a:visited {
  background: #14abfa;
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  color: #FFFFFF;
  border-radius: 50px;
  margin-left: -5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .twitter a:hover {
  text-decoration: none;
  border-radius: 50px;
  margin-left: -0.8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .facebook a:link, .reseau .facebook a:visited {
  background: #3b5b96;
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  color: #FFFFFF;
  border-radius: 50px;
  margin-left: -5.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .facebook a:hover {
  text-decoration: none;
  border-radius: 50px;
  margin-left: -0.8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .dribble a:link, .reseau .dribble a:visited {
  background: #f14486;
  padding: 0.8rem 1rem 0.8rem 1rem;
  color: #FFFFFF;
  border-radius: 50px;
  margin-left: -4.3rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .dribble a:hover {
  text-decoration: none;
  border-radius: 50px;
  margin-left: -0.8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .google a:link, .reseau .google a:visited {
  background: #df4e3d;
  padding: 0.8rem 1rem 0.8rem 1rem;
  color: #FFFFFF;
  border-radius: 50px;
  margin-left: -4.9rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.reseau .google a:hover {
  text-decoration: none;
  border-radius: 50px;
  margin-left: -0.8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.tendance {
  margin: 1rem auto auto auto;
  background: #f2f0f1;
  border-radius: 10px;
}

footer {
  background: #000000;
  color: #FFFFFF;
}

footer sub {
  background: #4c5155;
}

footer a:link, footer a:visited {
  color: #4c5155;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .row h3 {
  color: #fc4340;
}

footer .bouton {
  color: #FFFFFF;
  background: #fc4340;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: #fc4340 2px solid;
  font-weight: 600;
}

footer .email {
  border-radius: 5px;
  border: solid 2px #FFFFFF;
  padding: 5px 5rem 5px 5px;
  margin-bottom: 1rem;
}

.modal1 .bouton {
  color: #FFFFFF;
  background: #fc4340;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: #fc4340 2px solid;
  font-weight: 600;
}

.modal1 .bouton1 {
  color: #000000;
  background: #FFFFFF;
  border-radius: 5px;
  border: #FFFFFF 2px solid;
  font-weight: 500;
}
