@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

header {
  background: none;
}

header p {
  font-size: 3rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
}

header span {
  color: #fc4340;
}

header a {
  padding-right: 50px;
}

header .nav-link1 {
  padding: 10px;
  font-weight: 600;
}

header ul li {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

header a.nav-link1:link, header a.nav-link1:visited {
  color: #4c5155;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

header a.nav-link1:hover {
  color: #FFFFFF;
  background-color: #fc4340;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

header .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  float: right;
}

header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header nav {
  width: 100%;
}

header .active1 a.nav-link1 {
  color: #fc4340;
}

header .active1 a.nav-link1:hover {
  color: #FFFFFF;
}

.infos {
  background: #fc4340;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.infos a {
  text-decoration: none;
  background: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

.infos .espace {
  padding: 1.5rem 0.5rem;
}

.caroussel {
  margin-top: -10rem;
}

footer {
  background: #000000;
  color: #FFFFFF;
}

footer sub {
  background: #4c5155;
}

footer a:link, footer a:visited {
  color: #4c5155;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .row h3 {
  color: #fc4340;
}

footer .bouton {
  color: #FFFFFF;
  background: #fc4340;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: #fc4340 2px solid;
}

footer .email {
  border-radius: 5px;
  border: solid 2px #FFFFFF;
  padding: 5px 5rem 5px 5px;
  margin-bottom: 1rem;
}

.movie h2 {
  text-transform: uppercase;
  padding: 5px;
  border-left: solid 5px #fc4340;
  font-size: 1.5rem;
}

.movie ul li {
  float: left;
  list-style: none;
  margin: 3px;
}

.movie a:link, .movie a:visited {
  background: #f2f0f1;
  text-align: center;
  padding: 1rem;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.movie a:hover {
  background: #fc4340;
  -webkit-transition: 1s;
  transition: 1s;
  color: #FFFFFF;
}
